@import "https://fonts.googleapis.com/css?family=Roboto:400,700";

h1{
    text-align: center
}
body
{
	padding: 0;
	margin: 0;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	box-sizing: border-box;
    line-height: 1.5;
    background-color:khaki;
}

.wrapper
{
	width: 95%;
	margin: 0 auto;
}

li
{
/*	list-style: none;*/
	text-align: center;
    margin-top:2.5%;
 float:left;
}
ul
{
  list-style:none;
}

picture
{
    width:90%;
}
img
{
  max-width:90%;
  transition:transform 2s;
  transition-timing-function: ease-in;
  border:5px solid;

}
img:hover
{
    transform:skew(20deg);
}
@media screen and (min-width: 600px)
{
    li
    {
		width: 50%; 
	}
  
    img:hover
    {
        transform:scale(1.5);
    }
    
}

@media screen and (min-width: 1200px)
{
    
    li{
		width: 25%; 
	}
    
        img:hover{
             transform:rotate(-360deg);

}
}

footer
{
    clear:both;
    
    text-align: center;
  
}
    
